body {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-areas:
    "header header header"
    "aside aside aside"
    "main main main";
}

#header-container {
    grid-area: header;
}

h1 {
    text-align: center;
    color: brown;
    background-color: burlywood;
}
#scorecard-container {
    grid-area: aside;
    background: lightgray;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.instructions {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    border: 4px ridge black;
    margin-left: 5%;
    margin-right: 5%;
    
}

.start-button {
    margin-top: 30px;
    width: 65px;
    height: 45px;
    background-color: green;
    color: white;
    margin-left: 40%;
}

.scorecard {
    width: 300px;
    height: 100px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.score, .timer {
    border: 4px ridge black;
    margin: 20px;
    padding: 10px;
}

#game-container {
    grid-area: main;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: burlywood;
    border: 25px ridge lightskyblue;
    height: 600px;
    gap: 20px;
}

.hole {
    display: grid;
    border-radius: 30px;
    margin: 0 auto;
    width: 80%;
    height: 170px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border: none;
}

.hole[data-state="idle"] {
    background-image: url('../images/idle.png');
}

.hole[data-state="active"] {
    background-image: url('../images/Active.png');

}

.hole[data-state="hit"] {
    background-image: url('../images/Hit.png');
}
/* review what all these settings do */
/* study more about using [] in css to reflect JS code */


    




